.userlist table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .userlist td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .userlist th{
    background: #61dafb;
    color: black;
  }
  
  .userlist tr:nth-child(even) {
    background-color: #dddddd;
  }